<form [formGroup]="forma">


    <div class="col-xs-6 col-md-12 form-group">
        <input class="form-control" formControlName="id_estudiante" placeholder="ID Estudiante" />

    </div>

    <div class="col-xs-4 col-md-12 form-group">
        <input class="form-control" placeholder="Nombre Estudiante" type="text" formControlName="nombres" />
    </div>

    <div class="col-xs-6 col-md-12 form-group">
        <input class="form-control" placeholder="Programa" type="text" formControlName="programa" />
    </div>

    <div class="col-xs-4 col-md-12 form-group">
        <select class="form-control" id="selSexo" name="selSexo" formControlName="sexo">
                    <option value="">Sexo</option>
                    <option value="F">F</option>
                    <option value="M">M</option>
                </select>

    </div>

    <br />


    <div class="row">
        <div class="col-xs-6 col-md-6 form-group">
            <button class="btn btn-primary" type="submit" (click)="guardarCambios()">Editar</button>

        </div>
        <br />
        <div class="col-xs-6 col-md-6 form-group">
            <button class="btn btn-outline-primary" type="submit" (click)="onNoClick()">Salir</button>
        </div>
    </div>

</form>