<div class="col-sm-8 col-md-10 contact-form" style="float: none;margin: 0 auto; ">
    <form>

        <div class="col-xs-4 col-md-9 form-group">
            <input class="form-control" name="id_estudiante" [(ngModel)]="estudiante.id_estudiante" placeholder="ID estudiante" type="text" readonly="true" />

        </div>
        <div class="col-xs-4 col-md-9 form-group">
            <input class="form-control" name="nombre" id="nombre" placeholder="Nombres" type="text" readonly="true" [(ngModel)]="estudiante.nombre" />
        </div>
        <div class="col-xs-4 col-md-9 form-group">
            <input class="form-control" name="programa" placeholder="usuario" type="text" readonly="true" [(ngModel)]="estudiante.user" />
        </div>
    </form>




</div>