/*
* {
    margin: 0;
    padding: 0;
  }
  */
  *, *:before, *:after {
    box-sizing: border-box;
  }
  /*
  html, body {
    height: 100%;
    background: #f7f7f7;
    color: #5b5b5b;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  
  body {
    margin: 20px 0; 
  }*/