<div class="div-content container col-md-12" *ngIf="login">


    <div class="tabs justify-content-center align-self-center card">
        <div class="tab-button-outer">
            <ul id="tab-button">
                <li><a href="#tab01">Docente</a></li>
                <li><a href="#tab02">Estudiante</a></li>
            </ul>
        </div>
        <div class="tab-select-outer">
            <select id="tab-select">
        <option value="#tab01">Docente</option>
        <option value="#tab02">Estudiante</option>
      </select>
        </div>


        <div id="tab01" class="tab-contents bg-tabs">

            <form class="form-login col-md-12 justify-content-center align-items-center" [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>

                <div class="row div-image justify-content-center align-self-center">
                    <img src="./assets/images/logo_simulac.png">
                </div>
                <div class="form-group">
                    <!--<label class="center-block text-labels">Usuario
            <input class="form-control" formControlName="usuario">
          </label>-->

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                  <img src="../../../assets/images/user_login.png">
                </span>
                        </div>
                        <input type="text" class="form-control" formControlName="usuario" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div *ngIf="loginForm.get('usuario').errors" class="alert alert-danger">
                        <div *ngIf="loginForm.get('usuario').errors['required']">
                            Usuario requerido
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!--<label class="center-block text-labels">Contraseña
            <input type="password" class="form-control" formControlName="password">
          </label>-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                  <img src="../../../assets/images/key_login.png">
                </span>
                        </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div *ngIf="loginForm.get('password').errors" class="alert alert-danger">
                        <div *ngIf="loginForm.get('password').errors['required']">
                            Contraseña requerida
                        </div>
                        <div *ngIf="loginForm.get('password').errors['minlength']">
                            Contraseña insegura
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-light btn-block" [disabled]="!loginForm.valid">Ingresar</button>

            </form>

        </div>
        <div id="tab02" class="tab-contents bg-tabs">
            <form class="form-login col-md-12 justify-content-center align-items-center" [formGroup]="estudiantesForm" (ngSubmit)="submit()" novalidate>

                <div class="row div-image justify-content-center align-self-center">
                    <img src="./assets/images/logo_simulac.png">
                </div>

                <div class="row ">
                    <div class="col-xs-6 col-md-10 form-group">
                        <input type="text" class="form-control" placeholder="Identificación" formControlName="idEstudiante">
                    </div>
                    <div class="col-xs-4 col-md-2 form-group">
                        <button type="button" class="btn btn-outline-light" (click)="ingresoEstudiante()">Ingresar</button>
                    </div>
                    <a (click)="registrarNuevo()" class="btn btn-primary active" role="button" aria-pressed="true">Registrar</a>
                </div>

            </form>

        </div>



    </div>

</div>
<app-navbar-estudiantes *ngIf="!login && !loginEstudent" [estudiante]="estudiante">
</app-navbar-estudiantes>
<app-navbar *ngIf="!login && loginEstudent">
</app-navbar>