.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    align-self: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.div-content {
    /*align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;*/
    /*height: 100%;*/
    min-height: 100%;
    display: flex;

    /*background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
    background-repeat:no-repeat; */
    background-position:center; 
    background-size:cover; 
    padding:10px;

    background: rgba(83,188,237,1);
    background: -moz-linear-gradient(top, rgba(83,188,237,1) 0%, rgba(0,121,178,1) 72%, rgba(0,121,178,1) 76%, rgba(0,121,178,1) 89%, rgba(0,121,178,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83,188,237,1)), color-stop(72%, rgba(0,121,178,1)), color-stop(76%, rgba(0,121,178,1)), color-stop(89%, rgba(0,121,178,1)), color-stop(100%, rgba(0,121,178,1)));
    background: -webkit-linear-gradient(top, rgba(83,188,237,1) 0%, rgba(0,121,178,1) 72%, rgba(0,121,178,1) 76%, rgba(0,121,178,1) 89%, rgba(0,121,178,1) 100%);
    background: -o-linear-gradient(top, rgba(83,188,237,1) 0%, rgba(0,121,178,1) 72%, rgba(0,121,178,1) 76%, rgba(0,121,178,1) 89%, rgba(0,121,178,1) 100%);
    background: -ms-linear-gradient(top, rgba(83,188,237,1) 0%, rgba(0,121,178,1) 72%, rgba(0,121,178,1) 76%, rgba(0,121,178,1) 89%, rgba(0,121,178,1) 100%);
    background: linear-gradient(to bottom, rgba(83,188,237,1) 0%, rgba(0,121,178,1) 72%, rgba(0,121,178,1) 76%, rgba(0,121,178,1) 89%, rgba(0,121,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53bced', endColorstr='#0079b2', GradientType=0 );

}

.form-login {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/***********************************************************************************/

/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");*/

body {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    background: #333333;
    height: 350px;
    padding: 0;
    margin: 0;
}
.container-login {
    min-height: 0;
    width: 480px;
    color: #333333;
    margin-top: 40px;
    padding: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}
#top-bar {
    display: inherit;
}
.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    float: none;
}
.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #ea533f;
    border: medium none;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0;
}
.container-login .nav-tabs.nav-justified > .active > a,
.container-login .nav-tabs.nav-justified > .active > a:hover,
.container-login .nav-tabs.nav-justified > .active > a:focus {
    background: #ffffff;
    color: #333333;
}
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #de2f18;
}
.tabs-login {
    background: #ffffff;
    border: medium none;
    margin-top: -1px;
    padding: 10px 30px;
}
.container-login h2 {
    color: #ea533f;
}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-login .checkbox {
    margin-top: -15px;
}
.container-login button {
    background-color: #ea533f;
    border-color: #e73e28;
    color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.container-login button:hover,
.container-login button:focus {
    background: #de2f18;
    border-color: #be2815;
}
