<div id="wrapper" class="active">
  <div id="sidebar-wrapper" class="">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li class="sidebar-brand" >
        <a id="menu-toggle" href="#">
            <p>SIMULAC</p>
            <div>
                <img class="user_icon" src="./assets/images/icon_user.png">
            </div>
          <!--<span id="main_icon" class="glyphicon glyphicon-align-justify"></span>-->
        </a>

      </li>
    </ul>

    <ul class="sidebar-nav navbar-nav mr-auto mt-2 mt-lg-0" id="sidebar">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="[ 'estudiantes' ]">
          <img class="image" src="./assets/images/reading.png">
          Estudiantes
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="[ 'areas' ]">
          <img class="image" src="./assets/images/books-stack.png">
          Areas
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="[ 'examenes' ]">
          <img class="image" src="./assets/images/pencil.png">
          Examenes
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="[ 'preguntas' ]">
          <img class="image" src="./assets/images/reading.png">
          Preguntas
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="[ 'home' ]">
          <img class="image" src="./assets/images/presentation.png">
          Simulacros
        </a>
      </li>
    </ul>
  </div>

  <div id="page-content-wrapper" class="navbar navbar-expand-lg navbar-light bg-light col-md-12">
    <a class="navbar-brand" href="#">
      AREA > TEMA
    </a>
  </div>
  <div id="contenedor-vistas" class="container col-md-12">
      <router-outlet></router-outlet>
  </div>
</div>