<div class="col-sm-8 col-md-10 contact-form" style="float: none;margin: 0 auto; ">
    <!-- div da direita -->
    <form>


        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col ">Area</th>
                    <th scope="col ">Tema</th>
                    <th scope="col ">Simulacro ID</th>
                    <th scope="col ">Examen</th>
                    <th scope="col ">Fecha</th>
                    <th scope="col ">Responsable</th>
                    <th scope="col ">Grupo</th>
                    <th scope="col ">Presentar</th>
                </tr>
            </thead>
            <tr *ngFor="let item of simulacros ">
                <td>{{item.desc_area}}</td>
                <td>{{item.desc_tema}}</td>
                <td>{{item.id_simulacro}}</td>
                <td>{{item.desc_examen}}</td>
                <td>{{item.fecha}}</td>
                <td>{{item.responsable}}</td>
                <td>{{item.grupo}}</td>

                <td>
                    <button class="btn btn-sm btn-success ">
                    <img class="rounded float-left btn-success" height="18 " src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCI+CiAgPHBhdGggZD0ibS4zLDE0Yy0wLjItMC4yLTAuMy0wLjUtMC4zLTAuN3MwLjEtMC41IDAuMy0wLjdsMS40LTEuNGMwLjQtMC40IDEtMC40IDEuNCwwbC4xLC4xIDUuNSw1LjljMC4yLDAuMiAwLjUsMC4yIDAuNywwbDEzLjQtMTMuOWgwLjF2LTguODgxNzhlLTE2YzAuNC0wLjQgMS0wLjQgMS40LDBsMS40LDEuNGMwLjQsMC40IDAuNCwxIDAsMS40bDAsMC0xNiwxNi42Yy0wLjIsMC4yLTAuNCwwLjMtMC43LDAuMy0wLjMsMC0wLjUtMC4xLTAuNy0wLjNsLTcuOC04LjQtLjItLjN6IiBmaWxsPSIjRkZGRkZGIi8+Cjwvc3ZnPgo=">
                  </button>
                </td>
            </tr>
        </table>
    </form>
</div>